@use 'mixins/mixins.scss' as *;


@include b(virtual-list) {
  position: relative;
  border: 2px solid red;
  overflow: auto;
  @include e(list) {
     position: absolute;
     left: 0;
     top: 0;
  }
}